<div class="key-holder one"><span class="text">{{#if keyOne}}211-2-4{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder two"><span class="text">{{#if keyTwo}}212-2-1{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder three"><span class="text">{{#if keyThree}}214-34-1{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder four"><span class="text">{{#if keyFour}}220-10-5{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder five"><span class="text">{{#if keyFive}}215-13-2{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder six"><span class="text">{{#if keySix}}211-3-4{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder seven"><span class="text">{{#if keySeven}}381-16-8{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder eight"><span class="text">{{#if keyEight}}330-7-10{{else}}&nbsp;{{/if}}</span></div>