<div class="key-holder"><span class="text">{{#if keyOne}}000-00-01{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder"><span class="text">{{#if keyTwo}}000-00-02{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder"><span class="text">{{#if keyThree}}000-00-03{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder"><span class="text">{{#if keyFour}}000-00-04{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder"><span class="text">{{#if keyFive}}000-00-05{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder"><span class="text">{{#if keySix}}000-00-06{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder"><span class="text">{{#if keySeven}}000-00-07{{else}}&nbsp;{{/if}}</span></div>
<div class="key-holder"><span class="text">{{#if keyEight}}000-00-08{{else}}&nbsp;{{/if}}</span></div>