<div class="hint">
    <span class="message">It's your day</span>
</div>

<div class="container">
    <div class="indicator">
        <span class="glyphicon glyphicon-ok hidden"></span>
        <span class="glyphicon glyphicon-remove hidden"></span>
    </div>
    <div class="month">
        {{#each month in months}}
            <button class="btn btn-default"
                {{action "selectMonth" month bubbles=false}}
                {{bind-attr id=month}}>
                &nbsp;
            </button>
        {{/each}}
    </div>
    <div class="day">
        {{#each day in days}}
            <button class="btn btn-default"
                {{action "selectDay" day bubbles=false}}
                {{bind-attr id=day}}>
                &nbsp;
            </button>
        {{/each}}
    </div>
    <div class="year">
        {{#each yearGroup in years}}
            <div class="group">
                {{#each year in yearGroup}}
                    <button class="btn btn-default"
                        {{action "selectYear" year bubbles=false}}
                        {{bind-attr id=year}}>
                        &nbsp;
                    </button>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>