<div class="hint">
    It's your day
</div>

<div class="container">
    <div class="month">
        {{#each month in months}}
            <button class="btn btn-default"
                {{action "selectMonth" month}}
                {{bind-attr id=month}}>
                &nbsp;
            </button>
        {{/each}}
    </div>
    <div class="day">
        {{#each day in days}}
            <button class="btn btn-default"
                {{action "selectDay" day}}
                {{bind-attr id=day}}>
                &nbsp;
            </button>
        {{/each}}
    </div>
    <div class="year">
        {{#each yearGroup in years}}
            <div class="group">
                {{#each year in yearGroup}}
                    <button class="btn btn-default"
                        {{action "selectYear" year}}
                        {{bind-attr id=year}}>
                        &nbsp;
                    </button>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>