<div class="container">
    <div class="display-text fadeout">
        {{currentDisplay}}
    </div>

    <form {{action "processInput" on="submit" bubbles=false}}>
        <div class="input-error">{{{inputError}}}</div>
        {{input class="input-box" value=inputValue}}
    </form>

    {{#if showKey}}
        <div class='result-key'>
            Reward key: {{key}}
        </div>
    {{/if}}
</div>
